body {
    background-color:thistle;
    margin: 0;
   
}
#foto {
    margin: auto;
    background-color: #413473;
}

#fotoinicio {
    width: 100%;  
}

.dp-menu ul {
    list-style-type: none; /*tira as bolinhas da lista*/
     /*alinha toda listra no canto*/
   
}
.dp-menu ul {
    background-color: #413473;
    padding: 15px;
    margin: 0;
    text-align: center;
    
    
}
.dp-menu ul li {
    display: inline;
    position: relative;
    font-size: 22px;
   
}
.dp-menu ul li a {  
    color: rgb(255, 255, 255);
    text-decoration: none; /*tira o sublinhado dos nomes da lista*/
    padding: 15px;
    transition: background .2s;
}
.dp-menu ul li a:hover {
    background-color: #6b1fd6;
    border-radius: 5px 5px 5px;   
}
/*-----------------SUB MENU-----------------*/
.dp-menu ul ul {
    display: none; /*fazer os sub menus entrarem nos seus pais*/
    position: absolute;
    width: 130px;
    left: 0;
    margin-top: 15px; /*descer para alinha os submenus*/
    text-align: left;
    
}
.dp-menu ul li:hover ul { 
    display: block;
    
}

.dp-menu ul ul li a {
    display: block;
    
}

/*------------------ Postagens ------------------*/
.post {
    display: flex;
    flex-direction: column; 
}

.rom {
    border-radius: 18px;
    box-shadow: 2px 2px 15px black;
    text-align: center;
    background-color: rgb(245, 245, 245);
    width: 750px;
    height: 680px;
    margin: 29px auto;
}

.capa {
    width: 5cm;
    height: 5cm;
}

.previa {
    width: 7cm;
    height: 5cm;
    margin-left: 15px;
}

.sinopse {
    font-size: 17px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify; 
    margin-left: 180px; 
    width: 400px;
}